* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px 0;
    background: #f1f1f1;
}

/* Custom Font Add */
@font-face {
    font-family: Bastone;
    src: url(./Bastone.otf);
}

/* Header/Blog Title */
.header {
    font-family: Bastone;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
    /* THE FIX: Added 20px of padding to the left and right */
    padding-left: 20px;
    padding-right: 20px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 20px;
    }
}

/* Styling for inputs and spacing */
form input {
    display: block; 
    margin-bottom: 5px; /* Adjust spacing as needed */
    width: 80%; 
    box-sizing: border-box;
}

/* Space above the button */
form input:last-of-type {
    margin-bottom: 15px; 
}

/* Styling for the green Submit button */
form button[type="submit"] {
    background-color: #4CAF50; /* Green */
    color: white; 
    padding: 10px 15px; 
    border: none; 
    cursor: pointer; 
    width: 30%; 
}